<h1>Greg's Posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Photo</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= image_tag article.photo %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>
